################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/GitPractice
/GitPractice/x64/Debug
/x64/Debug
/.vs/HEWGameRepoTemp/v17/.wsuo
/.vs/HEWGameRepoTemp/v17/DocumentLayout.backup.json
/.vs/HEWGameRepoTemp/v17/DocumentLayout.json
/.vs/HEWGameRepoTemp/v17/.wsuo
/.vs/HEWGameRepoTemp/v17/DocumentLayout.json
